<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  

  {{ content }}

  {% include scripts.html %}



</body>
<script src="assets/scripts.js"></script>
<script defer src="assets/font-awesome/js/solid.js"></script>
<script defer src="assets/font-awesome/js/brands.js"></script>
<script defer src="assets/font-awesome/js/fontawesome.js"></script>
<link href="assets/font-awesome/css/fontawesome.css" rel="stylesheet">
<link href="assets/font-awesome/css/solid.css" rel="stylesheet">
<link href="assets/font-awesome/css/brands.css" rel="stylesheet">


</html>
