---
layout: default
---

<!-- Page Header --> 
  <header>
    <script src="assets/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="assets/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <div class="logo-container">
      <div class="top-band"></div>
      <img src="img/Craftstoff Trademark ohne Hintergund u. Balken.png" class="bg-palme" alt="">
  
      <div class="bottom-band"></div>
    </div>
  </header>
        
  <div class="container-main-point">
    <div class="text-marke">
    <p class="craftstoff">CRAFTSTOFF<img src="img/R.png" alt=""></p> <p>
      ist eine <b>Wortmarke</b> eingetragen im <a href="img/Euipo Craftstoff Markenregister.pdf" target="_blank">Europäischen Markenregister</a> in den <br> 
      Nizza-Klassifikationen:</p>
    <p><b><u>Klasse · 32</u></b><br>
      Alkoholfreie Getränke; Alkoholfreie Präparate für die Zubereitung von Getränken;<br>
      Biere und alkoholfreie Biere.
      </p>
      <p><b><u>Klasse · 33</u></b><br>
        Alkoholische Essenzen und Extrakte; Alkoholische Getränke, ausgenommen Bier; <br>
        Alkoholische Präparate für die Herstellung von Getränken; <br>
        Alkoholische Präparate für die Zubereitung von Getränken; Apfelwein. <br>
      </p>
      <p><b>Bei einer Lizenzierung besteht <u>Gestaltungs- und Entwicklungsfreiheit für Design, Schriftart und
        Produktinhalt</u> in den Klassen 32 und 33 soweit bestehende Markenrechte nicht verletzt werden.</b>
        </p>
    </div>
      <div class="videos-dosen">
        <div class="top-band"></div>
        <div class="heading-dosen">
        <h1>Beispiele/Muster:</h1>
        </div>
        <div class="row flaschen" style="width: 70%; margin: auto;">
          <div class="col-sm"><img class="flasche" src="img/3 x Longneck.jpg" alt=""></div>
          <div class="col-sm"><img class="flasche" src="img/IMG_20230905_180335.jpg" alt=""></div>
        </div>
        <div class="row dosen" style="padding-bottom: 5vw; padding-top: 5.8vw;  width: 70%; margin: auto;">
          <div class="col-sm"><video autoplay loop muted class="video-dose" style="height: 21vw;" src="img/Dose-4.mp4"></video></div>
          <div class="col-sm"><video autoplay loop muted class="video-dose" src="img/Dose-1.mp4"></video></div>
          <div class="col-sm"><video autoplay loop muted class="video-dose" src="img/Dose-5.mp4"></video></div>
          <div class="col-sm"><video autoplay loop muted class="video-dose" src="img/Dose-2.mp4"></video></div>
          <div class="col-sm"><video autoplay loop muted class="video-dose" src="img/Dose-3.mp4"></video></div>
    </div>
    <div class="swiffy-slider slider-nav-visible slider-nav-caretfill slider-indicators-sm">
      <ul class="slider-container">
          <li><img class="flasche" src="img/3 x Longneck.jpg" alt=""></li>
          <li><img class="flasche" src="img/IMG_20230905_180335.jpg" alt=""></li>
      </ul>
  
      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>
  
      <div class="slider-indicators">
          <button class="active"></button>
          <button></button>
      </div>
  </div>

    <div class="swiffy-slider dosen-videos slider-nav-visible slider-nav-caretfill slider-indicators-sm">
      <ul class="slider-container">
          <li><video  autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto" class="video-dose2" src="img/Dose-1.mp4"></video></li>
          <li><video  autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto" class="video-dose2" src="img/Dose-4.mp4"></video></li>
          <li><video  autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto" class="video-dose2" src="img/Dose-5.mp4"></video></li>
          <li><video  autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto" class="video-dose2" src="img/Dose-3.mp4"></video></li>
          <li><video  autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto" class="video-dose2" src="img/Dose-2.mp4"></video></li>
      </ul>
  
      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>
  
      <div class="slider-indicators">
          <button class="active"></button>
          <button></button>
          <button></button>
          <button></button>
          <button></button>
      </div>
  </div>
  <div class="bottom-band"></div>
  </div>
    </div>
    <div class="text-marke">
        <p>Gerne stehe ich zu einem Gespräch zur Verfügung.</p>
        <p>Im Markenbestand befindet sich auch die <b><a href="img/Registerauszug DPMA - Craft.pdf" target="_blank">deutsche Wortmarke Craft</a></b> explizit für Bier
          - auch diese Marke kann lizensiert werden.
          </p>
    </div>
          <div class="row flaschen" style="width: 60%; margin: auto;">
            <div class="col-sm"><img class="flasche2" src="img/Craft Lager 0,33l.jpg" alt=""></div>
            <div class="col-sm"><img class="flasche21" src="img/Craft alt.png" alt=""></div>
          </div>

          <div class="swiffy-slider slider-nav-visible slider-nav-caretfill slider-indicators-sm">
            <ul class="slider-container">
                <li><img class="flasche2" src="img/Craft Lager 0,33l.jpg" alt=""></li>
                <li><img class="flasche2" src="img/Craft alt.png" alt=""></li>
            </ul>
        
            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>
        
            <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
            </div>
        </div>
        
        <div class="text-marke">
          <p>Kontakt:
            <ul class="fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-user"></i></span> Brauerei Goldene Gans KG, Fritz Dürrwanger</li>
            <li><span class="fa-li"><i class="fa-solid fa-location-dot"></i></span> Ostrachstraße 4a, 86165 Augsburg</li>  
            <li><span class="fa-li"><i class="fa-solid fa-mobile-screen-button"></i></span> 0177 777 1346</li>  
            <li><span class="fa-li"><i class="fa-solid fa-envelope"></i></span> <a href="mailto:marke@craftstoff.com">marke@craftstoff.com</a></li>    
          </ul>
          </p>
    </div>
  </div>
  <div class="footer">
    <a href="https://license.craftstoff.com/impressum">Impressum</a> 
    <a href="https://license.craftstoff.com/datenschutzerklaerung">Datenschutzerklärung</a>
  </div>